@charset "utf-8";

body > *{
    grid-column: 2 / -2;
}
body{
    display: grid;
    font-family: "Dosis", sans-serif;
    grid-template-columns: .2fr repeat(6, 1fr) .2fr;
    grid-template-rows: 
            [head] auto
            [main] auto
            [sub] auto
            [foot] auto;
}

header{
    color: #333;
    grid-row: head;
}

nav{
    align-self: end;
    grid-row: head;
    justify-self: right;
    margin-left: auto;
    /* width: 50%; */
}
nav ul{
    display: grid;
    font-size: 24px;
    grid-auto-flow: column;
    grid-column-gap: 100px;
    list-style-type: none;
    padding: 0;
    text-align: right;
    letter-spacing: 0.1em;
    width: auto;
    /* vertical-align: baseline; */
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: rgba(109, 150, 144, 0.5);
    text-decoration: none;
}
/* ナビゲーションここまで */

#main-container{
    grid-row: main;
    grid-column: 1 / -1;
}
#main-container img{
    height: 420px;
    width: 1520px;
    overflow: hidden;
    object-fit: cover;
}

h2{
    font-size: 50px;
    font-family: "Dosis", sans-serif;
    margin-top: 10%;
    text-align: center;
    padding-bottom: 10%;
}
.works{
    display: grid;
    grid-row: main;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5%;
    
}
.works li img{
    height: 320px;
    width: 415px;
    margin-right: 0;
    margin-left: 0;
    
}
.backtotop{
    /* grid-row: sub; */
    text-decoration: none;
}
footer{
    /* display: grid;
    grid-row: foot; */
}

footer > *{
    list-style-type: none;
}
.sns{

}
.sns img{
    height: 50px;
    width: 50px;
}
#copylight{
    text-align: center;
    vertical-align: baseline;
    list-style-type: none;
}