@charset "utf-8";

* {
    margin: 0;
}
body > *{
    grid-column: 2 / -2;
}
body{
    background-color: #cee2df;
    display: grid;
    font-family: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial, Verdana, "ＭＳ Ｐゴシック", sans-serif;
    grid-template-columns: .2fr repeat(6, 1fr) .2fr;
    grid-template-rows: 
            [head] 100px
            [main] auto
            [sub] auto
            [foot] 100px;
    grid-row-gap: 20px;
    column-gap: 20px;
}
header{
    color: #00213b;
    grid-row: head;
    font-size: 280%;
    margin-right: auto;
    justify-self: start;
    /* z-index: 1; */
}
nav{
    align-self: end;
    grid-row: head;
    justify-self: right;
    margin-left: auto;
    /* width: 50%; */
}
nav ul{
    display: grid;
    font-size: 18px;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    list-style-type: none;
    padding: 0;
    text-align: right;
    letter-spacing: 0.1em;
    width: auto;
}
nav a{
    color: #cee2df;
    text-decoration: none;
}
nav a:hover{
    color: rgba(206,226, 223, .5);
    text-decoration: none;
}
figure > img{
    grid-column: 1 / -1;
}
#main-container{
    background-color: #00213b;
    grid-row: main;
    grid-column: 1 / -1;
    height: 460px;
    margin: auto;
    width: 100%;
}
#main-container img{
    z-index: -1;
}
#links{
    margin-top: 100px;
}
h2{
    text-align: center;
    padding-bottom: auto;
}
.works{
    display: grid;
    grid-row: sub;
    grid-column: 3 / -3;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    justify-items: end;
}
.works li{
    grid-column-gap: 5%;
    column-gap: 5%;
}
.works li img{
    height: 300px;
    width: 300px;
    /* margin-right: 0; */
    /* margin-left: 0; */
}
footer{
    display: grid;
    grid-column: 4 / -4;
    grid-row: foot;
    align-self: start;
    text-align: center;
}
footer > *{
    list-style-type: none;
}
.backtotop{
    margin-bottom: 100px;
    text-decoration: none;
}
.sns{
    justify-self: start;
    margin: 100px;
}
.copylight{
    text-align: center;
    vertical-align: right;
}
