@charset "utf-8";

/* 基本設定 */
html{ 
    font-family: "Dosis", "M PLUS Rounded 1c", sans-serif;
    font-size: 100px; 
    margin: auto;
}
body > *{
    grid-column: 2 / -2;
}
#index, #blog, #pro, #contact,#trip1,#trip2,#trip3{
    background-color: #fff;
    display: grid;
    font-size: .2rem; /* pxだと20px */
    grid-auto-flow: column;
    grid-template-columns: .4fr repeat(6, 2fr) .4fr;
    grid-template-rows: 
            [head] auto
            [main] auto
            [sub] auto
            [foot] .1rem;
}
/* 全ページ共通設定 */
/* ここからヘッダー */
header{
    grid-row: head;
    height: 2rem;
}
header h1 img{
    margin: .5rem auto;
    vertical-align: bottom;
}
#main-container nav{
    align-self: end;
    color: white;
    grid-row: head;
    height: 2rem;
    justify-self: right;
}
/* ここからナビゲーション */
nav{
    align-self: end;
    grid-row: head;
    justify-self: right;
}
#index nav{
    align-self: start;
    color: #fff;
    display: grid;
}
#blog nav, #pro nav, #contact nav,#trip1 nav,#trip2 nav,#trip3 nav{
    align-self: start;
}
nav ul{
    display: grid;
    font-size: .34rem;
    grid-column-gap: .75rem;
    grid-template-columns: auto auto auto;
    grid-auto-flow: column;
    list-style-type: none;
    letter-spacing: .01rem;
    margin: .32rem;
    text-align: center;
    width: auto;
}
nav a:hover{
    color: rgba(109, 150, 144, 0.5);
}
/* ナビゲーションここまで */
/* ここからフッター */
footer > *{
    list-style-type: none;
}
footer{
    align-self: start;
    grid-row: foot;
    grid-column: 6 / -1;
    margin: 1.8rem auto; 
}
.sns{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: .2rem;
    text-align: center;
}
.sns img{
    height: .3rem;
    justify-self: flex-start;
    padding: 0;
    width: auto;
}
#copylight{
    font-size: .22rem;
    list-style-type: none;
    padding-bottom: .15rem;
    vertical-align: middle;
    
}
/* 共通ヘッダー設定ここまで */
/* ここからindexページ */
/* 自画像と紹介文の装飾 */
#index header{
    display: none;
}
#main-container{
    background: url(images/hero/sevenstar.jpg) center / cover no-repeat;
    grid-row: head;
    grid-column: 1 / -1;
    min-height: 100vh;
    width: 100%;
}
#begin{
    font-family: 'Klee One', cursive;  
    font-size: .22rem;
    line-height: .5rem;
    margin: .8rem auto;
    text-align: center;
}
#begin h2{
    font-size: .28rem;
    font-style: italic;
}
.first{
    margin: .4rem;
}
/* indexページここまで */

/* ここからプロフィールページ */
#pro > p{
    font-family: 'Klee One', cursive;
    font-size: .24rem;
}
.shikaku{
    font-size: .28rem;
    padding: .4rem;
}
#introduce{
    margin-bottom: .8rem;
}
/* ここからブログページ */
#trips{
    grid-column: 2 / -2;
    grid-row: main;
}
.photos{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto .6rem;
    row-gap: .05rem;    
}
.photos li img{
    height: 4.2rem;
    margin: .6rem auto .8rem;
    width: 4rem;
}
.photos h3{
    font-family: 'Klee One', cursive;
    font-size: .24rem;
    letter-spacing: .06rem;
    text-align: left;
}
/* ここから個別のtripページ */
.trip{
    display: grid;
    grid-row: main;
    margin: .8rem auto 1rem;
}
.trip h2{
    font-size: .3rem;
}
.trip img:first-of-type{
    display: block; 
    height: 4.95rem; /* 白銀比で設定 */
    margin: .8rem auto 1rem;
    width: 7rem;
}
.trip img:nth-of-type(n+2){
    grid-template-columns: repeat(3, auto);
    height: 3rem; 
    margin: .8rem auto 1rem;
    width: 3.5rem;
}
/* 個別のtripページここまで */
/* ここからプロフィールページ */
#introduce{
    display: grid;
    font-family: "M PLUS Rounded 1c", sans-serif;
}
#introduce h3{
    font-size: .36rem;
    text-align: center;
    vertical-align: top;
}
.self, .about{
    border: solid .05rem black;
    grid-row: main;
    margin: .1rem .05rem;
}
.self{
    text-align: center;
}
.name{
    font-size: .42rem;
    font-weight: bold;
}
/* プロフィールここまで */
/* コンタクトここから */
#ct{
    grid-column:  3 / -2;
    grid-row: main;
    margin-bottom: .1rem;
}
#ct article{
    margin-bottom: .3rem;
    padding: .06rem;
}
#ct h2{
    font-size: .2rem;
    padding-bottom: .06rem;
}
#ct p{
    font-size: .16rem;
}
form{
    padding: .3rem;
    padding-left: 0;
}
form p{
    padding-bottom: .4rem;
}
.required{
    background-color: #f45555;
    color: #FFFFFF;
    font-size: .12rem;
    margin-left: .2rem;
    padding: .01rem .03rem .01rem;
}
input[type="text"],
input[type="email"]{
    border: solid .01rem #545454;
    height: .3rem;
    margin:  .06rem auto;
    width: 6rem;
}
textarea{
    border: solid .01rem #545454;
    height: 1rem;
    width: 6rem;
}
input[type="submit"]{
    background-color: #545454;
    color: white;
    font-size: .2rem;
    height: .6rem;
    padding: .08rem;
    text-align: center;
    width: 2rem;
}
