@charset "utf-8";

/* 基本設定 */
html{ 
    font-size: 100px; 
    font-family: "Dosis", sans-serif;
}
body > *{
    grid-column: 2 / -2;
}
body, #index, #blog, #profile, #contact,#trip1,#trip2,#trip3{
    background-color: #fff;
    display: grid;
    font-family: "Dosis", "M PLUS Rounded 1c", sans-serif;
    font-size: .2rem;/*pxだと20px;*/
    grid-auto-flow: column;
    grid-template-columns: .4fr repeat(6, 2fr) .4fr;
    grid-template-rows: 
            [head] auto
            [main] auto
            [sub] auto
            [foot] .1rem;
}
/* 全ページ共通設定 */
/* ここからヘッダー */
header{
    grid-row: head;
    height: 2rem;
}
header h1 img{
    margin: .5rem auto;
    vertical-align: bottom;
}
#main-container nav{
    grid-row: head;
    color: white;
    height: 2rem;
    align-self: end;
    justify-self: right;
}

/* ここからナビゲーション */
nav{
    align-self: end;
    grid-row: head;
    justify-self: right;
}
#blog nav, #pro nav, #contact nav,#trip1 nav,#trip2 nav,#trip3 nav{
    align-self: start;
}
nav ul{
    display: flex;
    text-align: center;
    /* display: grid; */
    font-size: .24rem;
    grid-auto-flow: column;
    grid-column-gap: .75rem;
    margin: .32rem;
    list-style-type: none;
    padding: auto;
    letter-spacing: .01rem;
    width: auto;
}
nav a:hover{
    color: rgba(109, 150, 144, 0.5);
    text-decoration: none;
}
/* ナビゲーションここまで */

footer > *{
    list-style-type: none;
}
footer{
    display: grid;
    grid-row: foot;
    grid-column: 6 / -1;
    margin: 1.8rem auto; 
    align-self: start;
}
.sns{
    display: flex;
    text-align: center;
}
.sns img{
    height: .5rem;
    justify-self: flex-start;
    padding: 0;
    width: auto;
    margin-left: 0;
    margin: auto;
}
.copylight{
    vertical-align: middle;
    list-style-type: none;
    font-weight: bold;
    font-style: 16rem;
}
/* 共通ヘッダー設定ここまで */

/* ここからindexページ */
/* 自画像と紹介文の装飾 */
#index header{
    display: none;
}
#index nav{
    display: grid;
    align-self: start;
}
#index nav ul{
    grid-row: head;
    font-size: .24rem;/*pxだと24px;*/
    grid-auto-flow: column;
    grid-column-gap: .75rem;/*pxだと75px;*/
    margin: .32rem;
    list-style-type: none;
    padding: auto;
    letter-spacing: .01rem;
    width: auto;
    color: #fff;
}
#main-container{
    grid-row: head;
    grid-column: 1 / -1;
    background: url(images/hero/sevenstar.jpg) center / cover no-repeat;
    /* background-repeat: none; */
    min-height: 100vh;
    width: 100%;
}
.image2{
    display: none;
}
/* 自画像と紹介文ここまで */

/* ここからPhotosの装飾 */
#links{
    margin-top: 1rem;
}
#links h2{
    font-size: .46rem;/*pxだと50px;*/
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    letter-spacing: .08rem;
    margin: 1rem auto .6rem;
    text-align: center;
    padding-bottom: .1rem;
}
#links p{
    text-align: center;
}
/* 画像の装飾 */
.photos{ 
    display: grid;
    grid-row: main;
    grid-template-columns: repeat(3, 1fr);
    row-gap: .05rem;
    margin-bottom: .6rem;    
}
.photos li img{
    height: 3.2rem;
    width: 4.15rem;
    margin: .6rem auto .8rem;
}
.photos p{
    font-family: 'Klee One', cursive;
    font-size: .28rem;
    font-weight: bold;
    letter-spacing: .08rem;
    text-align: center;
}
/* indexページここまで */

/* ここからプロフィールページ */
#pro > p{
    font-family: 'Klee One', cursive;
    font-size: .24rem;
}
#pro .back{
    margin: 0;
}
/* ここからブログページ */
#blog{
    display: grid;
}
#trips{
    grid-row: main;
    grid-column: 2 / -2;
}
#trips img{
    float: left;
    width: 4rem;
    height: 4.2rem;
    justify-self: center;
    margin: .4rem auto .8rem;
}
#trips h3{
    clear: both;
    font-family: 'Klee One', cursive;
    font-size: .36rem;
    letter-spacing: .02rem;
    text-align: left;
}

/* ここから個別のtripページ */
.trip{
    display: grid;
}
.trip img:first-of-type{
    grid-row: main;
    width: 7.5rem;
    height: 8rem;
    text-align: center;
}
.trip img:nth-of-type(n+2){
    width: 6.5rem;
    height: 4rem;
    margin: 1rem 1rem .8rem;
    text-align: left;
}

/* ここからプロフィールページ */
#pro{
}
#introduce{
    display: grid;
    font-family: "M PLUS Rounded 1c", sans-serif;
}
#introduce h3{
    font-size: .36rem;
    vertical-align: top;
    text-align: center;
}
.self, .about{
    grid-row: main;
    border: solid .05rem black;
    margin: .1rem .05rem;
    padding: auto;
}
.name{
    font-size: .42rem;
    font-weight: bold;
}

/* トップに戻るボタン */
.back{
    clear: both;
    justify-self: center;
    margin: 0 ;
}
.back img{
}

/* フッター */
footer > *{
    list-style-type: none;
}
footer{
    display: grid;
    grid-row: foot;
    grid-column: 6 / -1;
    margin: 1.8rem auto; 
    align-self: start;
}
.sns{
    display: flex;
    text-align: center;
}
.sns img{
    height: .5rem;
    justify-self: flex-start;
    padding: 0;
    width: auto;
    margin-left: 0;
    margin: auto;
}
.copylight{
    vertical-align: middle;
    list-style-type: none;
    font-weight: bold;
    font-style: 16rem;
}